@page "/validar_seguridad"
@using GVM.Components
@using GVM.Security
@inherits AuthorizedComponentPage

<h1>Validacion de Seguridad</h1>
<h3>Validacion de permiso "Ventas": @TienePermiso</h3>
<h3>Datos del usuario logueado: </h3>
<ul class="list-group">
    <li class="list-group-item">Nombre: @SeguridadService.Usuario.Nombre</li>
    <li class="list-group-item">Email: @SeguridadService.Usuario.Email</li>
    <li class="list-group-item text-break">Contraseña: @SeguridadService.Usuario.Clave</li>
</ul>
<h2>Roles y sus permisos del usuario logueado: </h2>
<ul class="list-group">
    @foreach (var entidad in @SeguridadService.Usuario.Permisos)
    {
        @foreach (var rol in @entidad.Entidad.ListaPermiso(TipoEntidad.Rol))
        {
            <p>Rol: @rol.Nombre</p>
            @foreach (var permiso in @rol.ListaPermiso(TipoEntidad.Permiso))
            {
                <p>Permiso: @permiso.Nombre</p>
            }
        }
    }
</ul>

@code {
    [CascadingParameter]
    LoadingIndicator LoadingIndicator { get; set; }

    bool TienePermiso { get; set; }
    protected override void OnInitialized()
    {
        TienePermiso = SeguridadService.Usuario.CheckeaPermiso("/venta");
    }


}
