<div class="d-flex justify-content-center align-items-center h-auto position-fixed bottom-0 mt-2 mx-1 min-vw-100">
    <NavLink href="/compras" class="d-flex justify-content-center align-items-center">
        <MudButton Size="Size.Small" Color="Color.Primary" class="mx-1">
            <MudIcon Icon="@Icons.Material.Filled.Inventory" Color="Color.Primary" />
        </MudButton>
    </NavLink>
    <NavLink href="/ventas" class="d-flex justify-content-center align-items-center">
        <MudButton Size="Size.Small" Color="Color.Primary" class="mx-1">
            <MudIcon Icon="@Icons.Material.Filled.PointOfSale" Color="Color.Primary" />
        </MudButton>
    </NavLink>
    <NavLink href="/validar_seguridad" class="d-flex justify-content-center align-items-center">
        <MudButton Size="Size.Small" Color="Color.Primary" class="m-2 border-1 border-white rounded-3 text-end mud-theme-primary">
            <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Tertiary" />
        </MudButton>
    </NavLink>
    <NavLink href="/envios" class="d-flex justify-content-center align-items-center">
        <MudButton Size="Size.Small" Color="Color.Primary" class="mx-1">
            <MudIcon Icon="@Icons.Material.Filled.DeliveryDining" Color="Color.Primary" />
        </MudButton>
    </NavLink>
    <NavLink href="/informes" class="d-flex justify-content-center align-items-center">
        <MudButton Size="Size.Small" Color="Color.Primary" class="mx-1">
            <MudIcon Icon="@Icons.Material.Filled.PieChart" Color="Color.Primary" />
        </MudButton>
    </NavLink>
</div>